MY_ID=nas-user
MY_PW=change-this-password
TZ=Asia/Seoul
WEB_PORT=8080
DOWNLOAD_DIR=./downloads
CONFIG_DIR=./config
PUID=0
PGID=0
UMASK=022
YTDLP_AUTO_UPDATE=true
YTDLP_UPDATE_INTERVAL=3600
YTDLP_COOKIES_FILE=
YTDLP_EXTRA_ARGS=

# Optional integrations
YDLNAS_API_TOKEN=
COOKIE_SECURE=false
PROXY=
